[data-theme="light"] {
    --pattern-doodle: url("https://www.simlishify.cc/pattern-doodle.png");
}

[data-theme="dark"] {
    --pattern-doodle: url("https://www.simlishify.cc/pattern-doodle-dark.png");
}

.grid-top-ads-auto {
    display: grid;
    height: 100dvh;
    grid-template-rows: 90px auto;
}

.flex-side-bar-app-side-ads {
    display: flex;
}

.desktop-side-bar {
    flex-shrink: 0;
    border-right-width: 1px;
    width: 0px;
}

.status-bar {
    display: none;
}

.grid-app-bar-auto-status-bar {
    width: 100%;
    display: grid;
    grid-template-rows: 64px auto 0px;
}

.list-output li:not(:last-child) {
    margin-bottom: 4px;
}

.floating-input {
    position: absolute;
    z-index: 10;
    width: calc(100% - 32px);
    height: auto;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.pb-input {
    padding-bottom: 200px;
}

.side-ads {
    display: none;
    width: 0px;
}

.hero-pattern-doodle {
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-position: top left;
    background-size: 100px 100px;
    background-image: var(--pattern-doodle);
    background-size: 270px 480px;
}

.hero-pattern-doodle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    pointer-events: none;
}

[data-theme="dark"] .hero-pattern-doodle::before {
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
    .grid-top-ads-auto {
        grid-template-rows: 0px 100%;
    }

    .desktop-side-bar {
        width: 64px;
    }

    .status-bar {
        height: 24px;
        display: block;
        border-top-width: 1px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1rem;
        gap: 1rem;
    }

    .grid-app-bar-auto-status-bar {
        grid-template-rows: calc(100% - 24px) 24px;
    }

    .side-ads {
        display: block;
        width: 168px;
        border-left-width: 1px;
    }

    .floating-input {
        width: 400px;
        left: 16px;
        transform: translateX(0%);
    }
}